main { padding: 1rem 1rem 0; }
h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
}
ul.bullet { list-style-type: disc; }
ul.hollow { list-style-type: circle; }
ul.square { list-style-type: square; }

/* Utility Classes */
.left {
    position: relative;
    float: left;
    background-color: #aaa;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    width: 25vw;
    min-height: calc(100% - 0.5rem);
}
.left img {
    margin: 0 auto;
}
.right {
    position: relative;
    float: right;
    width: calc(100% - 25vw);
    padding-left: 1rem;
    padding-top: 1rem;
}
.bio {
    margin-bottom: 1rem;
}