main {
    padding: 1rem 1rem 0;
}
h1 {
    display: block;
    border-bottom: 1px solid black;
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
h3 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}
ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
}