/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default margin */
p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.25em;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  background-color: rgb(220, 182, 148);
  margin-bottom: 2%;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

hr {
    background-color: #000;
}

ul, ol {
    margin-top: 0;
}

table, tr, td {
    border: 2px solid black; 
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

div.ToC {
    max-width: max-content;
    min-width: 20%;
    margin-left: 2rem;
    padding: 0.5rem;
    border: 2px solid black;
    background-color: rgb(233, 116, 81);
}

ol.ToC {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.footer {
    display: flex;
    margin-top: 2rem;
}

.footer > * {
    border-top: 5px black double;
    flex-basis: 100%;
    padding: 0.5rem;
    font-weight: 700;
}

.footer > *:nth-child(1) {
    text-align: left;
}
.footer > *:nth-child(2) {
    text-align: center;
}
.footer > *:nth-child(3) {
    text-align: right;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}