/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default margin */
p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.25em;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  background-color: rgb(220, 182, 148);
  margin: 1%;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0.33rem;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 0;
}

h4 {
    font-size: 1em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

hr {
    background-color: #000;
}

ul, ol {
    margin-top: 0;
}

div.ToC {
    max-width: max-content;
    min-width: 20%;
    margin-left: 2rem;
    padding: 0.5rem;
    border: 2px solid black;
    background-color: rgb(233, 116, 81);
}

ol.ToC {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

div.ToC a {
    color: #000;
}

/* 5.1 - Labs */
div#BMP {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

div#BMP * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1;
}

table.labs,
table.labs th,
table.labs td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.25rem 0.5rem;
}

table.labs td:nth-child(1) {
	text-align: left;
    padding-right: 1.5rem;
}

table.labs td:nth-child(2) {
	text-align: center;
}

table.labs tr:nth-child(odd) {
    background-color: aqua;
    color: black;
}

table.labs tr:nth-child(even) {
    background-color: rgb(0, 213, 255);
    color: black;
}

table.labs tr:nth-child(1) {
    background-color: rgb(0, 100, 255);
    color: white;
}

table#fishbone {
    border-spacing: 0;
}

table#fishbone td {
    border-right: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.25rem 1rem;
    font-weight: 600;
}

table#fishbone tr:nth-child(1) > td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

table#fishbone tr:nth-child(1) > td:last-child {
    border-bottom: 0px;
    border-right: 0px;
    border-collapse: collapse;
}

/* 5.2 - Electrolyte Imbalances */
table#electrolytes {
    border: 0px;
    border-spacing: 0;
    margin: auto;
    min-width: fit-content;
    max-width: 50%;
}

table#electrolytes td {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

table#electrolytes tr > td:first-child {
    font-weight: 700;
    text-align: left;
}

/* 5.3 - Defect of Tubule Transport */
table#transport-defect-summary {
    border: 0px;
    border-spacing: 0;
    margin: auto;
    min-width: fit-content;
    max-width: 50%;
}

table#transport-defect-summary tr:nth-child(odd) {
    background-color: aqua;
    color: black;
}

table#transport-defect-summary tr:nth-child(even) {
    background-color: rgb(0, 213, 255);
    color: black;
}

table#transport-defect-summary tr:nth-child(1) {
    background-color: rgb(0, 100, 255);
    color: white;
    font-weight: 600;
}

table#transport-defect-summary td {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

table#transport-defect-summary tr > td:first-child {
    text-align: left;
    width: 20%;
}

/* 5.4 - Renal Tubular Acidosis */
table#RTA {
    border: 0px;
    border-spacing: 0;
    margin: auto;
    min-width: fit-content;
    max-width: 50%;
}

table#RTA td {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

table#RTA tr > td:first-child {
    font-weight: 700;
    text-align: left;
}

/* 5.5 - Glomerular Diseases */
table#glomerular-diseases {
    border: 0px;
    border-spacing: 0;
    margin: auto;
    min-width: fit-content;
    max-width: 50%;
}

table#glomerular-diseases td,
table#glomerular-diseases th {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

table#glomerular-diseases tr > td:first-child {
    font-weight: 700;
    text-align: left;
}

/* Footer */
.footer {
    display: flex;
    margin-top: 2rem;
}

.footer > * {
    border-top: 5px black double;
    flex-basis: 100%;
    padding: 0.5rem;
    font-weight: 700;
}

.footer > *:nth-child(1) {
    text-align: left;
}
.footer > *:nth-child(2) {
    text-align: center;
}
.footer > *:nth-child(3) {
    text-align: right;
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}