body {
  background-color: rgb(178, 219, 251);
  padding: 1%;
}

hr {
  border: 1px solid black;
}

div.ToC {
  max-width: max-content;
  min-width: 20%;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 2px solid black;
  background-color: white;
}

ol.ToC {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  list-style-type: upper-roman;
}

ol.ToC ol { list-style-type: upper-alpha; }

h1 {
  display: block;
  font-size: 2em;
  margin: 0;
  font-weight: 700;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin: 1em 0 0;
  font-weight: 700;
  border-bottom: 1px solid black;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin: 0.33em 0;
  font-weight: 700;
}

h3+p, hr+p {
  margin-top: 0;
}

table, tr, td {
  border: 2px solid black; 
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0.5rem;
  text-align: center;
}