body {
    margin: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0.33rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 0;
}
h2+h3 { margin-top: 0; }
h4 {
    font-size: 1em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}
h5 {
    font-size: 1em;
    text-decoration: underline;
    margin-top: 1.5em;
    margin-bottom: 0;
}
h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}
p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.25em;
}
hr { background-color: #000; }
hr+p { margin-top: 0.5rem; }
ul, ol {
    margin-top: 0;
    margin-left: 1.5em;
}
p+ul, p+ol { margin-top: -1em; }
sup, sub { font-size: 0.75em; }
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table tr:first-child td {
    font-weight: 700;
}
table th {
    background-color: #666;
    color: white;
    font-weight: 700;
}
table td {
    padding-left: 0.5rem;
    vertical-align: top;
}

div.ToC {
    max-width: max-content;
    min-width: 20%;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 2px solid black;
}
span#ToC {
    font-size: 1.2rem;
    font-weight: bold;
}
ol.ToC {
    list-style-type: upper-roman;
    margin: 0.5rem 0 0.5rem 1.5rem;
}
ol.ToC ol { list-style-type: lower-alpha; }
ol.ToC ol ol { list-style-type: lower-roman; }

div.ind {
    display: block;
    margin-left: 2rem;
}
div.arrows {
    margin-top: -0.75em;
}

.figure {
    margin: 0 auto 1em auto;
    font-size: 0.9em;
}
.figure .title {
    font-style: italic;
}
table.pharm {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.pharm td {
    border-top: 2px dotted purple;
    padding: 0.25rem 0.5rem;
    padding-right: 3rem;
    text-align: left;
    font-size: 0.9em;
}
table.pharm tr:first-child td {
    border-top: 0;
}
table.pharm tr td:first-child {
    width: 25%;
}

footer {
    background-color: transparent;
    color: #000;
}