/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
*:not(b, i) {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set min body height */
html,
body {
	min-height: 100vh;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* 
 **Customization**
*/

/* Basic */
body {
    margin: 1rem;
}
h1, h2, h3, h4, h5, h6, .h7 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}
h1 {
    font-size: 2em;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.75em;
    margin-top: 1rem;
    margin-bottom: 0.33rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    clear: both;
}
h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0;
}
h2 + h3 { margin-top: 0; }
h4 {
    font-size: 1.25em;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0;
}
h5 {
    font-size: 1.1em;
    text-decoration: underline;
    margin-top: 1.5em;
    margin-bottom: 0;
}
h6 {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
}
.h7 {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-weight: 600;
}
p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.25em;
}
p:has(+ :is(h3,h4,h5,h6,.h7)) { margin-bottom: 0; }
hr { background-color: #000; }
hr + p { margin-top: 0.5rem; }
ul, ol {
    margin-top: 0;
    margin-left: 2.25em;
}
p + ul, p + ol { margin-top: -1em; }
sup, sub { font-size: 0.75em; }
table {
    border: 0;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
table tr,
table th,
table td {
    border: 1px solid black;
}
table tr.table-title {
    border: 0;
}
table tr.table-title td {
    border: 0;
    background-color: transparent;
    font-size: 1.1em;
    font-weight: 700;
}
table th {
    background-color: #666;
    color: white;
    font-weight: 700;
    padding: 0.25em 0.5em;
}
table td {
    padding: 0 0.5em;
    vertical-align: top;
}
table td p {
    line-height: 1.5;
    margin-bottom: 0.75em;
}
table td ul {
    margin-left: 1.5em;
}

ul.down-arrow { list-style-type: "\2BA1\0020   ";}
ul.diamond { list-style-type: "\25C6\0020  ";}
ul.multi-diamond { list-style-type: "\2756\0020  ";}

/* Utility classes */
div.ind {
    display: block;
    margin-left: 2rem;
}
div.article-link {
    margin: 0.5rem auto 0.5rem 2rem;
    font-weight: 600;
    font-style: oblique;
}

.figure {   /* div containing img */
    width: fit-content;
    margin: 0 auto 1em auto;
    font-size: 0.9em;
}
.figure .title {
    font-style: italic;
}
.figure .title i {
    font-style: normal;
    font-weight: 600;
}

table.two-way tr.column-header th {
    background-color: #888;
    color: white;
    font-weight: 700;
    font-variant: small-caps;
    padding: 0.25em 0.5em;
}
table.two-way tr.column-header td:first-child {
    background-color: black;
}
table.two-way tr:not(.column-header) th {
    background-color: #6cd0d3;
    color: black;
    font-weight: 700;
    padding: 0.25em 0.5em;
    text-align: left;
}

table.pharm,
table.pharm tr,
table.pharm tr td { border: 0px; }

table.pharm {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    max-width: 84vw;
}
table.pharm td {
    border-top: 2px dotted purple !important;
    padding: 0.25rem 0.5rem;
    padding-right: 3rem;
    text-align: left;
    font-size: 0.9em;
}
table.pharm tr:first-child td {
    border-top: 0 !important;
}
table.pharm tr td:first-child {
    width: 25%;
}

.drugs a {
    color: inherit;
    text-decoration: none;
}
.drugs a:hover {
    color: blue;
    text-decoration: underline;
}

.engr-insight {
    position: relative;
    background-color: #0ff;
    margin: 1em auto;
    padding: 0.25em 0.5em;
}
.notice {
    position: relative;
    background-color: #f5f5dc;
    margin: 1em auto;
    padding: 0.25em 0.5em;
    max-width: 75%;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}
.svg-inline--fa.fa-w-11 {
    width: 0.6875em;
    margin: 0.25em 0;
}
div.read-more {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
}
a.read-more {
    font-size: 0.9em;
}
.extra-content {
    display: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted blue;
  cursor: pointer;
}
.tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  font-family: sans-serif;
  font-size: 0.8em;
}
.tooltipimg {
  visibility: hidden;
  width: fit-content;
  text-align: center;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}
.tooltip:hover .tooltiptext,
.tooltip:hover .tooltipimg {
  visibility: visible;
}

/* Specific elements */
div.TOC {
    max-width: max-content;
    min-width: 20%;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 2px solid black;
}
span#TOC {
    font-size: 1.2rem;
    font-weight: bold;
}
ol.TOC {
    list-style-type: upper-roman;
    margin: 0.5rem 0 0.5rem 0.5rem;
    padding-left: 2.25rem;
}
ol.TOC ol {
	list-style-type: upper-alpha;
	margin-left: 1.75em;
}
ol.TOC ol ol { list-style-type: lower-alpha; }
ol.TOC ol ol ol { list-style-type: numeral; }

h2#ref {
    font-size: 1.2em;
    font-weight: 600;
}